
.searchTitle {
    background-color: teal;
    color: white;
    width: auto;
    height: 60px;
}

.searchBar {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('../assets/background.jpg');
    background-size: cover;
    height: 350px;
    width: 100%;
    text-align: center;

}

.inputBar {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}

.sortBy {
    display: flex;
    width: 100%;
    list-style-type: none;
    color: white;
}

.sortBy p {
    color: white;
}

.sortBy ul {
    list-style-type: none;
}

.sortBy ul li {
    display: inline;
    margin-right: 20px;
}

.sortBy ul li:hover {
    cursor: pointer;
    color: coral;
}

.sortByActive {
    color: coral;
}

.sortByOptions {
    display: flex;
    width: 100%;
    justify-content: center;

}

input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    padding-left: 10px;
}

button {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: coral;
    color: white;
}

button:hover {
    background-color: white;
    color: coral;
    cursor: pointer;
}